@import url(https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Lato:wght@300&display=swap);

/*Dark Theme*/
$color-background-body-dark: #7A7D7D;
$color-background-button-dark: #EF233C;
$color-background-card-dark: #0E131F;
$color-text-button-dark: #AFDEDC;
$color-text-dark: #F4FAFF;

/*Light Theme*/
$color-background-body-light: #E0E1E1;
$color-background-button-light: #EF233C;
$color-background-card-light: #B9C4DF;
$color-text-button-light: #F1F9F9;
$color-text-light: #000B14;

/*Global*/
$color-background-button-error: #EF233C;
$color-background-button-info: #2F80ED;
$color-background-button-success: #00600F;
$color-background-button-warning: #F2C94C;
$font-family-text: 'Lato', sans-serif;
$font-family-title: 'Kanit', sans-serif;
